*{
	box-sizing: border-box;
}

.heading {
	background-color:#D9564A;
	width: 100vw;
    height: 10vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    

} 


.name {
    float: left;
    overflow: auto;
    font-size: xx-large;
    padding: 16px;
    color: lightyellow;
    font-weight: bold;
    font-family: 'Work Sans', sans-serif;
}

 .links {
    float: right;
    overflow: auto;
    padding: 16px;
    position: relative;
    left: 0;
    right: 10px;
    top: 0;
    bottom: 0;
    font-size: xx-large;
    text-decoration: none;
    font-family: 'Work Sans', sans-serif;
    
    

} 



.index , .about, .portfolio{
    text-decoration: none;
    
}


main{
    min-height: 100vh;
    padding: 64px 24px 96px;
    background-color:#3C5E73;
    color: lightyellow;
}


footer {
	background-color:#D9564A;
        /* width: 100vw;
        height: 8vh; */
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    padding: 2vh;
    color: lightyellow;
    
}

.linkedin{
    width: 25px;
    height: 25px;
    padding: 1px;
    position: relative;
    bottom: 0;
    top: 1px;
}
.github {
    width: 25px;
    height: 25px;
    position: relative;
    top: 1px;
    bottom: 0;
}
.footer-text {
    padding: 0.1rem;
    margin: 0.1rem;
    font-size: large;
    font-family: 'Work Sans', sans-serif;
    text-align: center;
    
}
a:link{
    color: lightyellow;
}








